<!DOCTYPE html>
<!--[if IE 9 ]>    <html class="ie9" lang="en" ng-app="naut"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" ng-app="naut">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="pageTitle()">Naut - Bootstrap Admin Theme + AngularJS</title>

    @Styles.Render("~/bundles/BootstrapStyles")
    @Styles.Render("~/bundles/ApplicationStyles")

</head>

<body ng-clok="" ng-class="{ 'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed, 'layout-dock' : app.layout.isDocked, 'layout-material': app.layout.isMaterial, 'aside-offscreen' : app.sidebar.isOffscreen, 'footer-hidden': app.footer.hidden, 'in-app': !$state.includes('page')}">
    
    <div ui-view class="app-container" ng-controller="CoreController">@RenderBody()</div>

    <!-- Settings-->
    <div ng-include="'Templates/Settings'" ng-class="{'visible': showSettings}" ng-init="showSettings = false" class="settings-wrapper"></div>
    <!-- End Settings-->
    <!-- Layer Morph -->
    <div class="layer-morph-overlay">
        <div class="layer-morph-inner bg-info"></div>
    </div>
    <div layer-morph-close="" class="layer-morph-close">
        <em class="icon-cross"></em>
    </div>
    <div class="layer-morph-container bg-info">
        <div class="layer-morph-wrapper">
            <div id="layer-search" ng-include="'Templates/LayerSearch'" class="layer-morph"></div>
            <div class="layer-morph-footer">Naut</div>
        </div>
    </div>
    <!-- End Layer Morph -->

    @Scripts.Render("~/bundles/VendorScripts")
    @Scripts.Render("~/bundles/ApplicationScripts")

</body>

</html>